body {
    padding-top: 4rem;
}

.title {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/* Large screens */
@media only screen and (min-width: 992px) {
    
    .watchlist {
        padding-left: 4rem;
    }
    
}
/* Medium screens */
@media only screen and (min-width : 768px) {
    .card {
        display: block !important;
        width: 15rem !important;
        flex:none !important;
    }
    .card-img-top {
        width: 100%;
        height: 15rem !important;
        object-fit: cover;
    }

    /* .no-background-medium {
        background-color: pink !important;
    } */
    
}
/* .example{

    margin-left:5rem;
}

.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
.example button:hover {
    background: #0b7dda;
  }
  
.example::after {
    content: "";
    clear: both;
    display: table;
  }

 */
